<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table>
    <tr>
        <th>INDEX</th>
        <th>NAME</th>
        <th>ANIMALTYPE</th>
        <th>BALANCE</th>
        <th>ISITKING</th>
        <th>BAD OR GOOD</th>
    </tr>
    <tr th:each=" bankaccount : ${MyArrayList}">
        <td th:text="${bankaccountStat.index}"></td>
        <td th:text="${bankaccount.getName()}"></td>
        <td th:text="${bankaccount.getAnimalType()}"></td>
        <td th:text="${bankaccount.getBalance()}"></td>
        <div th:if="${bankaccount.getIsItKing()} == true">
            <td th:text="${bankaccount.getIsItKing()}" th:bgcolor="red"></td>
        </div>
        <div th:unless="${bankaccount.getIsItKing()}">
            <td th:text="${bankaccount.getIsItKing()}"></td>
        </div>
        <div th:switch="${bankaccount.isItBad()}">
            <td th:case= "${false}">goodguy</td>
            <td th:case= "${true}"> badguy</td>
        </div>
    </tr>
</table>
</body>
</html>
